<!doctype html>
<!--
	The7 by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>The7 Free HTML5 Responsive Template | Template Stock</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/simplegrid.css">
        <link rel="stylesheet" href="css/icomoon.css">
        <link rel="stylesheet" href="css/lightcase.css">
        <link rel="stylesheet" href="js/owl-carousel/owl.carousel.css" />
        <link rel="stylesheet" href="js/owl-carousel/owl.theme.css" />
        <link rel="stylesheet" href="js/owl-carousel/owl.transitions.css" />
        <link rel="stylesheet" href="style.css">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
            <style>
      body{
        --color-primary:    #00994d;
        --color-primary-dark: #007f67;
        --color-secondary: #252c6a;
        --color-error: #cc3333;
        --color-success: #4bb544;
        --border-radius: 4px;
        background: url(xxx.jpg);
        background-size: cover;
      }
    .containersi {
          width: 900px;
          max-width: 950px;
          padding: 2rem;
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
          border-radius: var(--border-radius);
          background-color: #c4c3d0;
          margin: 0 auto;

      }


      .containersi,
      .form__input,
      .form__button {
          font: 500 1rem 'Quicksand', sans-serif;

      }

      .form--hidden {
          display: none;
      }

      .form > *:first-child {
          margin-top: 0;
      }

      .form > *:last-child {
          margin-bottom: 0;
      }

      .form__title {
          margin-bottom: 2rem;
          text-align: center;
      }

      .form__message {
          text-align: center;
          margin-bottom: 1rem;
      }

      .form__message--success {
          color: var(--color-success);
      }

      .form__message--error {
          color: var(--color-error);
      }

      .form__input-group {
          margin-bottom: 1rem;
      }

      .form__input {
          display: block;
          width: 100%;
          padding: 0.75rem;
          box-sizing: border-box;
          border-radius: var(--border-radius);
          border: 1px solid #dddddd;
          outline: none;
          background: #eeeeee;
          transition: background 0.2s, border-color 0.2s;
      }

      .form__input:focus {
          border-color: var(--color-primary);
          background: #ffffff;
      }

      .form__input--error {
          color: var(--color-error);
          border-color: var(--color-error);
      }

      .form__input-error-message {
          margin-top: 0.5rem;
          font-size: 0.85rem;
          color: var(--color-error);
      }

      .form__button {
          width: 100%;
          padding: 1rem 2rem;
          font-weight: bold;
          font-size: 1.1rem;
          color: #ffffff;
          border: none;
          border-radius: var(--border-radius);
          outline: none;
          cursor: pointer;
          background: #478ac9;
      }

      
      .form__button:active {
          transform: scale(0.98);
      }

      .form__text {
          text-align: center;
      }

      .form__link {
          color: var(--color-secondary);
          text-decoration: none;
          cursor: pointer;
      }

      .form__link:hover {
          text-decoration: underline;
      }
</style>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
           <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
           <!--[if lt IE 9]>
             <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
             <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
           <![endif]-->
        </head>
        <body id="home">
                        <!-- Header -->
            <header id="top-header" class="header-home">
                <div class="grid">
                    <div class="col-1-1">
                        <div class="content">
                            <div class="logo-wrap">
                                <a href="#0" class="logo"><img src="images/LogoTrust.jpg" alt="logo"></a>
                            </div>
                            <nav class="navigation">
                                <input type="checkbox" id="nav-button">
                                <label for="nav-button" onclick></label>
                                <ul class="nav-container">
                                  <li><a href="index.html" class="current">Home</a></li>
                                  <li><a href="job.html">Jobs</a></li>
                                  <li><a href="cv.html">Create CV</a></li>
                                  <li><a href="index.html">About</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <!-- Parallax Section -->
            <div class="parallax-section parallax1">
                <div class="grid grid-pad">
                    <div class="col-1-1">
                         <div class="content content-header" >
                            <br><br><br>
                          <h2 style=" margin-top: 10px ;top:-43px ; margin-bottom: 2px; text-shadow: 5px 5px 1px black; ">Trust Ship Managenent</h2>
                           <p style="margin-top: 2px ;top:-43px">Since 2007.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Parallax Section -->


     <svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
     <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
     </svg>


     <br><br><br>
     <div class="containersi" >
     <h1 class="form__title">Create your CV</h1>
     <button id="p1" class="form__button">Personal Data</button>

            <form style="display: none;" class="form" id="sec1" name="myform" onsubmit="return formValidation();" method="post" >
                
             <br><br>
              
              <div class="form__input-group">

                    <input type="text" name="Position" class="form__input" autofocus placeholder="Position " required>

              </div>
              <div class="form__input-group">

                    <input type="text" name="Surname" class="form__input" autofocus placeholder="Surname " required>

              </div>
              <div class="form__input-group">

                    <input type="text" name="First Name" class="form__input" autofocus placeholder="First Name " required>

              </div>
              <div class="form__input-group">

                    <input type="date" name="Date of birth" class="form__input" autofocus placeholder="Date of birth "  >

              </div>
              <div class="form__input-group">
                    <input type="text" class="form__input" name="Place of birth" autofocus placeholder="Place of birth" required>

                </div>
              
              <div class="form__input-group">
                    <p style="color: white;">Marital Status</p>
                    <select name="Marital Status" type="text" class="form__input" autofocus placeholder="Marital Status" required>

                    <option value="Low">Married</option>
                    <option value="Medium">Widowed</option>
                    <option value="High">Separated</option>
                    <option value="Advanced">Divorced</option>
                    <option value="Low">Single</option>
                    </select>
                </div>
                
                <div class="form__input-group">
                    <input type="text" class="form__input" name="Citizenship" autofocus placeholder="Citizenship" required>

                </div>
                <div class="form__input-group">
                    <input type="text" class="form__input" name="Height" autofocus placeholder="Height" required>

                </div>
                <div class="form__input-group">
                    <input type="text" class="form__input" name="Weight" autofocus placeholder="Weight" required>

                </div>
                <div class="form__input-group">

                    <input type="text" name="Nearest Airport" class="form__input" autofocus placeholder="Nearest Airport " required>

              </div>
                
                <div class="form__input-group">
                    <input type="text" class="form__input" name="Expected Wage" autofocus placeholder="Expected Wage" required>

                </div>
                <div class="form__input-group">
                    <p style="color: white;">English Level</p>
                    <select name="English level" type="text" class="form__input" autofocus placeholder="English level" required>

                    <option value="Low">Beginner</option>
                    <option value="Medium">Elementary</option>
                    <option value="High">Pre-Intermediate</option>
                    <option value="Advanced">Intermediate</option>
                    <option value="Low">Upper-Intermediate</option>
                    <option value="Medium">Advanced</option>
                    <option value="High">Proficient</option>
                    </select>
                </div>
                <div class="form__input-group">
                    <p style="color: white;">Date Avaliable</p>
                    <input type="date"   name="Date Avaliable" autofocus placeholder="Date Avaliable" required>
                    </div>


                <button class="form__button" type="submit" onclick="signup.php">Submit</button>
                <br><br>
            </form>



      <button id="p2" class="form__button">Contact</button>
            <form style="display: none;" class="form" id="sec2" name="myform" onsubmit="return formValidation();" method="post">
                <br><br>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Cell phone" required>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Home phone" required>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Email" required>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Address" required>
                    </div>


                <button class="form__button" type="submit" onclick="signup.php">Submit</button>
                <br><br>
            </form>




       <button id="p3" class="form__button">Other Conact</button>
            <form style="display: none;" class="form" id="sec3" name="myform" onsubmit="return formValidation();" method="post">
                <br><br>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Cell phone" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Home phone" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Email" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Address" >
                    </div>


                <button class="form__button" type="submit" onclick="signup.php">Submit</button>
                <br><br>
            </form>




       <button id="p4" class="form__button">Certificates of Competency</button>
            <form style="display: none;" class="form" id="sec4" name="myform" onsubmit="return formValidation();" method="post">
                <br><br>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Document name" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>

                <button class="form__button" type="submit" onclick="signup.php">Add another document</button>
                <button class="form__button" type="submit" onclick="signup.php">Submit</button>
                <br><br>
            </form>


       <button id="p5" class="form__button">STCW Certificates</button>
            <form style="display: none;" class="form" id="sec5" name="myform" onsubmit="return formValidation();" method="post">
                 
                <div class="form__input-group">
                <p style="color:white;">Personal safety and soc. responsibility</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>


                <div class="form__input-group">
                <p style="color:white;">Proficiency in survival craft & res.boat</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>

                
                <div class="form__input-group">
                <p style="color:white;">Advanced fire Prevention and fire fighting</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>



                <div class="form__input-group">
                <p style="color:white;">Proficiency in medical care</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>



                <div class="form__input-group">
                <p style="color:white;">Proficiency of security awareness </p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>


                <div class="form__input-group">
                <p style="color:white;">ARPA</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>


                <div class="form__input-group">
                <p style="color:white;">ECDIS</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>


                <div class="form__input-group">
                <p style="color:white;">Ship Handling and Manoeuvring</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>



                <div class="form__input-group">
                <p style="color:white;">Prevention and Combating of pollution</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>


                <button class="form__button" type="submit" onclick="signup.php">Submit</button>
                <br><br>
            </form>


       <button id="p6" class="form__button">Passports, Seaman Books and Visas</button>
            <form style="display: none;" class="form" id="sec6" name="myform" onsubmit="return formValidation();" method="post">
               
               <div class="form__input-group">
                <p style="color:white;">Passport</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>


                <div class="form__input-group">
                <p style="color:white;">Seaman’s Book</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>


                <div class="form__input-group">
                <p style="color:white;">C1/D visa</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued on" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>
                    <button class="form__button" type="submit" onclick="signup.php">Submit</button>
                <br><br>

            </form>


            <button id="p7" class="form__button">Medical Certificate</button>
            <form style="display: none;" class="form" id="sec7" name="myform" onsubmit="return formValidation();" method="post">
               
               <div class="form__input-group">
                <p style="color:white;">International Medical Certificate for seaman</p>
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Number" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued place" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Issued from" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Valid to" >
                    </div>

                    <button class="form__button" type="submit" onclick="signup.php">Submit</button>
                <br><br>

            </form>
            <button id="p8" class="form__button">Sea service</button>
            <form style="display: none;" class="form" id="sec8" name="myform" onsubmit="return formValidation();" method="post">
                
                <div id="demo"> 
                    <h5 style="color:white">Sea service</h5>
                <div  class="form__input-group" >
                <input type="text"   name="Date Avaliable" autofocus placeholder="Ship’s Name" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Owner" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Rank" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="DWT" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="Type" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="From" >
                    </div>
                <div class="form__input-group">
                <input type="text"   name="Date Avaliable" autofocus placeholder="To" >
                    </div>
                </div>


                <button type="button" class="form__button" onclick="myFunction()">Add another sea service</button>
                <button class="form__button" type="submit" onclick="signup.php">Submit</button>
                <br><br>
            </form>
            <br> <br>
            <button id="p9" class="form__button">Download as PDF</button>
        </div>
<script type="text/javascript">
   function myFunction()
    {
    const element = document.getElementById("demo");
    element.innerHTML += element.innerHTML;
    } 
</script>


<script type="text/javascript">
    const targetDiv1 = document.getElementById("sec1");
    const btn1 = document.getElementById("p1");
    const targetDiv2 = document.getElementById("sec2");
    const btn2 = document.getElementById("p2");
    const targetDiv3 = document.getElementById("sec3");
    const btn3 = document.getElementById("p3");
    const targetDiv4 = document.getElementById("sec4");
    const btn4 = document.getElementById("p4");
    const targetDiv5 = document.getElementById("sec5");
    const btn5 = document.getElementById("p5");
    const targetDiv6 = document.getElementById("sec6");
    const btn6 = document.getElementById("p6");
    const targetDiv7 = document.getElementById("sec7");
    const btn7 = document.getElementById("p7");
    const targetDiv8 = document.getElementById("sec8");
    const btn8 = document.getElementById("p8");
 btn1.onclick = function () {
    if (targetDiv1.style.display !== "none") 
    {
    targetDiv1.style.display = "none";
    } 
    else
    {
    targetDiv1.style.display = "block";
    }
    };
  btn2.onclick = function () {
    if (targetDiv2.style.display !== "none") 
    {
    targetDiv2.style.display = "none";
    } 
    else
    {
    targetDiv2.style.display = "block";
    }
    };
  btn3.onclick = function () {
    if (targetDiv3.style.display !== "none") 
    {
    targetDiv3.style.display = "none";
    } 
    else
    {
    targetDiv3.style.display = "block";
    }
    };
   btn4.onclick = function () {
    if (targetDiv4.style.display !== "none") 
    {
    targetDiv4.style.display = "none";
    } 
    else
    {
    targetDiv4.style.display = "block";
    }
    };
  btn5.onclick = function () {
    if (targetDiv5.style.display !== "none") 
    {
    targetDiv5.style.display = "none";
    } 
    else
    {
    targetDiv5.style.display = "block";
    }
    };
  btn6.onclick = function () {
    if (targetDiv6.style.display !== "none") 
    {
    targetDiv6.style.display = "none";
    } 
    else
    {
    targetDiv6.style.display = "block";
    }
    };
  btn7.onclick = function () {
    if (targetDiv7.style.display !== "none") 
    {
    targetDiv7.style.display = "none";
    } 
    else
    {
    targetDiv7.style.display = "block";
    }
    };
   btn8.onclick = function () {
    if (targetDiv8.style.display !== "none") 
    {
    targetDiv8.style.display = "none";
    } 
    else
    {
    targetDiv8.style.display = "block";
    }
    };
</script>




<br><br><br>
<svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
            </svg>

               
                <!-- Footer -->
                <footer class="wrap">
                    <div class="grid grid-pad" >
                        <div class="col-1-3">
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>Adress</h3>
                                    <div class="textwidget">
                                          <p>​Office 36, Building 6, Fayrozet Smoha Buildings,Elnakl we Elhandsa&nbsp; str., Smoha, Alexandria, Egypt.</p><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>E-mails</h3>
                                    <div class="fwidget">
                                        <ul>
                                          <li><a href="mailto:Info@trustegy.net">Info@trustegy.net</a></li>
                                          <li><a href="mailto:crew@trustegy.net">crew@trustegy.net</a></li>
                                          <li><a href="mailto:Agency@trustegy.net">Agency@trustegy.net</a></li>
                                          <li><a href="mailto:esmegy@gmail.com">esmegy@gmail.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-3" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>Phone</h3>
                                    <div class="textwidget">
                                      <p>+2034224554</p>
                                      <br>
                                      <p>+201065526700</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-footer">
                        <div class="grid grid-pad">
                            <div class="col-1-1" >
                                <div class="content">
                                    <div class="social-set">
                                        <a  href="#0"><i class="icon-facebook"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

                <div class="loader-overlay">
                    <div class="loader">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div>

                <!-- JS -->
                <script src="js/jquery.js"></script>
                <script src="js/main.js"></script>
                <script src="js/mixitup.js"></script>
                <script src="js/smoothscroll.js"></script>
                <script src="js/jquery.nav.js"></script>
                <script src="js/owl-carousel/owl.carousel.min.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js"></script>
                <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
                <script src="js/jquery.counterup.min.js"></script>
                <script src="js/lightcase.min.js"></script>
            </body>
        </html>